<div class="sidebar">
    <a href="#">Reports</a>
    <a href="/employees">Employees</a>
    <hr style="margin-top: 0px; margin-bottom: 0px">
    <a href="/invoices">Invoices</a>
    <a href="/deliveries">Deliveries</a>
    <a href="/customers">Customers</a>
    <hr style="margin-top: 0px; margin-bottom: 0px">
    <a href="/inventory">Inventory</a>
    <a href="/purchaseOrders">Purchase Orders</a>
    <a href="/manualCount">Manual Count</a>
    <a href="/shrinkages">Shrinkages</a>
    <a href="/suppliers">Suppliers</a>
</div>