<!-- MANAGER -->
<div class="sidebar">
    <a href="#">Home</a>
    <a href="#">Sales Report</a>
    <a href="#">Inventory</a>
    <a href="#">Losses</a>
    <a href="#">Invoices</a>
    <a href="#">Purchase Orders</a>
    <a href="#">Suppliers</a>
    <a href="#">Customers</a>
</div>

<!-- SALES -->
<div class="sidebar">
    <a href="#">Home</a>
    <a href="#">Invoices</a>
    <a href="#">Return</a>
    <a href="#">Inventory</a>
    <a href="#">Customers</a>
</div>

<!-- INVENTORY -->
<div class="sidebar">
    <a href="#">Home</a>
    <a href="#">Inventory</a>
    <a href="#">Losses</a>
    <a href="#">Invoices</a>
    <a href="#">Purchase Orders</a>
    <a href="#">Suppliers</a>
</div>

<!-- DELIVERY -->
<div class="sidebar">
    <a href="#">Home</a>
    <a href="#">Deliveries</a>
    <a href="#">Customers</a>
</div>



