<!DOCTYPE html>
<html>
    <head>
        <title> Log In </title>
        <meta name="description" content="Delivery List">
        <meta name="keyword" content="Moderna, Delivery List">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../public/css/list.css">
    </head>
    <body>
        <div class="container">
            <h1> Deliveries </h1>
            

            
        </div>
    </body>
</html>