<!DOCTYPE html>
<html>
    <head>
        <title> Generate Purchase Orders </title>
        <meta name="description" content="Purchase Order List">
        <meta name="keyword" content="Moderna, Purchase Order List">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/list.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="../jquery-ui-themes-1.13.0/themes/ui-lightness/jquery-ui.css">
        <script src="../jquery-ui/jquery-ui.min.js"></script>
    </head>
    <body>

        {{> logoutPartial }}

        {{#if inventoryAndPurchasing}}
            {{> inventoryAndPurchasingPartial }}
        {{/if}}

        {{#if manager}}
            {{> managerPartial }}
        {{/if}}

        <div class="content">        
            <div class="fixed-div">
                <h1 class="bold" style="padding-bottom: 10px;"> Generate Purchase Order </h1>
                <div> 
                    <h3 class ="bold">Low Stock</h3>
                    <div style="height: 10px"></div>
                </div>
            </div>

                <table class="table">
                    <thead class="table-head">
                        <tr>
                            <th>Item Description</th>
                            <th style="width: 100px;">Supplier</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="table-purchase-stocks-body"> 
                        <!-- right align qty -->
                        {{#each items}}
                            <tr>
                                <td class="itemDescription">{{itemDescription}}</td>
                                <td class="supplier">
                                    <select class="dropdown dropdown-supplier form-control" style="width: 300px" disabled>
                                        <option value="no-selected">Select Supplier</option>
                                        {{#each suppliers}}
                                            <option value="{{_id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </td>
                                <td><input type="number" value="{{EOQ}}" class="quantity form-control" style="text-align: right;" disabled></td>
                                <td class="unit">
                                    <select class="dropdown dropdown-unit form-control" style="width: 200px;"disabled>
                                        <option value="no-selected">Select Unit</option>
                                    </select>
                                </td>
                                <td style="width:200px">
                                    <input type="checkbox" class="purchase" style="width: 20px; height: 20px;">
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>

                <div style="display: flex"> 
                        <div class="btn-cancel-invoice"><div class="btn-cancel-invoice"><button class="btn-light-grey" id="btn-cancel-PO" style="margin-bottom: 10px;">Cancel</button></div>
                    </div>
                           
                    <div class="btn-export-invoice">
                        <button class="btn-light-blue" id="btn-generate-PO" style="margin-bottom: 10px; position:absolute; right:5% ">Generate</button>
                    </div> 
                </div>

                <div style="height: 20px"></div>
            </div>

            <script>
                $(document).ready(function() {

                    $('.purchase').change(function() {
                        if ($(this).is(':checked')) {
                            $(this).parents('tr').find('.dropdown-supplier').prop('disabled', false)
                            $(this).parents('tr').find('.quantity').prop('disabled', false)
                            $(this).parents('tr').find(".dropdown-unit").prop('disabled', false);
                        }
                        else {
                            $(this).parents('tr').find('.dropdown-supplier').prop('disabled', true)
                            $(this).parents('tr').find('.quantity').prop('disabled', true)
                            $(this).parents('tr').find(".dropdown-unit").prop('disabled', true);

                        }
                    })


                    $('.dropdown-supplier').change(function() {
                        var supplierID = $(this).val()
                        var itemDesc = $(this).parents('tr').find('.itemDescription').text()
                        var row = $(this).parents('tr')
                        row.find('.dropdown-unit option:not(:first)').remove();


                        if (supplierID != "no-selected") {
                            $.get('/getItemUnitsPO', {itemDesc, supplierID}, function(result) {

                                for (var i=0; i<result.length; i++) {
                                    row.find('.dropdown-unit').append(`
                                        <option value="${result[i].id}">${result[i].unit}</option>
                                    `)
                                }
                                $(row).parents('tr').find(".dropdown-unit").prop("selectedIndex", 1);
                            }); 
                        }
                        else {
                            $(this).parents('tr').find(".dropdown-unit").prop('disabled', true);

                        }
                    })

                    function allFilled() {
                        var filled = true
                        $("#table-purchase-stocks-body > tr").each(function () {
                            if ($(this).find('.purchase').is(':checked')) {
                                if ($(this).find('.dropdown-supplier').val() == 'no-selected') {
                                    filled = false
                                    $(this).find('.dropdown-supplier').css("border", "1px solid #B00000")
                                }
                                else
                                    $(this).find('.dropdown-supplier').css("border", "1px solid #DDDDDD")

                                if ($(this).find('.quantity').val() < 0 || $(this).find('.quantity').val() == "") {
                                    filled = false
                                    $(this).find('.quantity').css("border", "1px solid #B00000")
                                }
                                else
                                    $(this).find('.quantity').css("border", "1px solid #DDDDDD")

                                if ($(this).find('.dropdown-unit').val() == "no-selected") {
                                    filled = false
                                    $(this).find('.dropdown-unit').css("border", "1px solid #B00000")
                                }
                                else
                                    $(this).find('.dropdown-unit').css("border", "1px solid #DDDDDD")
                            }
                        })
                        return filled
                    }

                    function zeroChecked() {
                        var checked =0

                        $("#table-purchase-stocks-body > tr").each(function () {
                            if ($(this).find('.purchase').is(':checked'))
                                checked++
                        })

                        if (checked == 0)
                            return true;
                        else
                            return false;    
                    }

                    
                    $('#btn-generate-PO').click(function() {
                        var purchaseItems = []
                        if (!zeroChecked()) {
                            if(allFilled()) {
                                $("#table-purchase-stocks-body > tr").each(function () {
                                    if ($(this).find('.purchase').is(':checked')) {
                                        var item= {
                                            itemDescription: $(this).children('.itemDescription').text(),
                                            quantity: $(this).find('.quantity').val(),
                                            unit: $(this).find('.dropdown-unit').val(),
                                            supplier: $(this).find('.dropdown-supplier').val()
                                        }
                                        purchaseItems.push(item);
                                    }
                                })
                                var purchaseString = JSON.stringify(purchaseItems)
                                $.post('/saveGeneratePurchaseOrder', {purchaseString}, function(result) {
                                    alert("Purchase Orders have been generated")
                                    window.location.replace('/purchaseOrders');
                                });
                            }
                            else
                                alert("Fill up the necessary information")
                        }
                        else
                            alert("No items selected")
                        
                        
                    })
                })
            </script>
    </body>
</html>