<!DOCTYPE html>
<html>
    <head>
        <title> Log In </title>
        <meta name="description" content="Log In">
        <meta name="keyword" content="Moderna, Log In">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../public/css/login.css">
    </head>
    <body>
        <div class="logo"><img src="../public/images/Moderno.png" alt="Moderno Logo" width="300" height="120"></div>
        <div class="container">
            <h1> LOG IN </h1>
            <div class="form-group">
                <form> <!--action=-->
                    <label for="username"> Username </label>
                    <br>
                    <input type="text" class="form-control" id="username" name="username">
                    <br>
                    <label for="password"> Passsword </label>
                    <br>
                    <input type="password" class="form-control" id="password" name="password" >
                    <br>
                    <input id="submit" class="btn btn-default" type="submit" name="submit" value="Log In">
                </form>
            </div>
            
        </div>
    </body>
</html>