<!DOCTYPE html>
<html>
    <head>
        <title> Return </title>
        <meta name="description" content="Return">
        <meta name="keyword" content="Moderna, Return">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/information.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body>

        <!-- PARTIALS -->
        <div id="navbar"> 
            <div class="navbar-logo"> <img src="../images/Kamuning.png" alt="Kamuning Hardware Logo" width="200" height="65"></div>
            <div class="navbar-logout"> <a href= "login.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
            </a>
            </div>
        </div>

        <div class="sidebar">
            <a href="#">Home</a>
            <a href="#">Deliveries</a>
            <a href="#">Customers</a>
        </div>

        <div class="content">
            <div> <!-- ADD FIXED -->
                <div style="display: flex;">
                    <div style="width: 50%"><h1 class="bold"> Invoice #"Number" </h1></div>
                    <div class="btn-status">
                        <h3>MM/DD/YYYY</h3>
                    </div>
                </div>
            </div> 
            <hr>

            <div style="display: flex; align-content: center;">
                <label for="dropdown-return-type" style="margin-right: 10px">Type</label>
                <select class="dropdown" id="dropdown-return-type" style="margin-right: 10px">
                    {{#each types}}
                        <option value="{{_id}}">{{type}}</option>
                    {{/each}}
                </select>
                
                <div id="delivery-info" style="display: none;">
                    <label class="date-label" for="delivery-date">Delivery Date</label>
                    <input style="height: 34px" type="date" id="delivery-date" name="delivery-date">

                    <label for="dropdown-payment-type" style="margin-right: 10px">Payment Type</label>
                    <select class="dropdown" id="dropdown-payment-type" style="margin-right: 10px">
                        <option value="all-type" selected>All</option>
                        <option value="cash">Cash</option>
                        <option value="cod">COD</option>
                    </select>

                    <label for="dropdown-delivery-personnel" style="margin-right: 10px">Delivery Personnel</label>
                    <select class="dropdown" id="dropdown-delivery-personnel" style="margin-right: 10px">
                        <option value="all-type" selected>All</option>
                            <option value="{{_id}}">{{ingredientType}}</option>
                    </select>
                </div>
            </div>

            <div class="header-colored-bg" style="margin-top: 15px; margin-bottom: 10px">
                <h3 class ="bold header-text">Customer Details</h3>
            </div>

            <div>
                <input style="margin-top: 15px;" type="text" class="form-control margin-bottom-10" id="customerName" name="customerName" placeholder="Customer Name">
                <textarea class="form-control margin-bottom-10" id="address" name="address" placeholder="Address"></textarea> <!--style="display:none"-->
                <input type="text" class="form-control margin-bottom-10" id="contactNumber" name="contactNumber" placeholder="Contact Number"> <!--style="display:none"-->
                <div>
                    <div>
                        <textarea class="form-control" id="notes" name="notes" placeholder="<Delivery Notes>"></textarea>
                    </div>
                </div>
            </div>


                <div class="header-colored-bg" style="margin-top: 40px; margin-bottom: 10px">
                    <h3 class ="bold bold header-text">Order Details</h3>
                </div>
                
                <h3 class ="bold">Return Items</h3>

                    <table class="table" id="table-return-order-details">
                        <thead style="background-color: #2F5D62; color: white">
                            <tr>
                                <th>Item Description</th>
                                <th>Qty</th>
                                <th>Unit</th>
                                <th>Unit Price</th>
                                <th>Item Code</th>
                                <th>Amount</th>
                                <th>Return</th>
                                <th>Reason</th>
                            </tr>
                        </thead>
                        <tbody> 
                            <tr>
                                <td>John</td>
                                <td>Doe</td>
                                <td>john@example.com</td>
                                <td>John</td>
                                <td>Doe</td>
                                <td>john@example.com</td>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <select class= "dropdown" id="dropdown-return" style="height: 30px">
                                        <option value="all" selected>Damaged</option>
                                        <option value="volvo">Option 1</option>
                                        <option value="saab">Option 2</option>
                                        <option value="saab">Option 3</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="display-flex" style="margin-top: 30px">
                        <h3 class ="bold h3-left">Add New Item</h3>
                    </div>

                    <hr style="margin-top: 0px; margin-bottom: 10px;">

                    <form>
                        <input style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: left; margin-right: 10px" type="text" class="form-control" id="return-add-item-description" name="return-add-item-description" placeholder="Item Description">
                        <input style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: left; margin-right: 10px; text-align: right;" type="text" class="form-control" id="return-add-item-qty" name="return-add-item-qty" placeholder="Qty">
                        <input style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: left; margin-right: 10px; text-align: right;" type="text" class="form-control" id="return-add-item-discount" name="return-add-item-discount" placeholder="Discount">
                        <input style="margin-top: 5px; margin-bottom: 0px; float: left; height: 34px; width: 34px; background-color: #0F84D9; border: #0F84D9; border-radius: 7px; color: white;" type="button" id="return-add-item-addItem" name="return-add-item-addItem" value="+">
                    </form>

                    <div style="height: 45px"></div>

                    <div id="div-warning-return-new-item">
                        <p id="text-warning-return-new-item" style="color: red;">Warning text here</p>
                    </div>

                    <table class="table" id="table-return-new-item">
                        <thead style="background-color: #2F5D62; color: white">
                            <tr>
                                <th>Item Description</th>
                                <th>Qty</th>
                                <th>Unit</th>
                                <th>Unit Price</th>
                                <th>Discount</th>
                                <th>Amount</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody> 
                            <tr>
                                <td>John</td>
                                <td>Doe</td>
                                <td>john@example.com</td>
                                <td>John</td>
                                <td>Doe</td>
                                <td>john@example.com</td>
                                <td>
                                    <button class="delete-button"><img src="../images/delete-icon.png" height="20px" width="15x" alt="Delete" id= "return-delete-table-row-btn"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <input style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: right; text-align: right;" type="text" class="form-control margin-bottom-10" id="total-discount" name="discount" placeholder="Discount">

                    <br> 
                    <br> 
                    <br> 
                    <div class="summary-container">
                        <div class="summary-text">Subtotal</div>
                        <div class="summary-info-container"><div class="summary-info">P 200.00</div></div>
                    </div>
                    <div class="summary-container">
                        <div class="summary-text">VAT</div>
                        <div class="summary-info-container"><div class="summary-info">P 200.00</div></div>
                    </div>
                    <div class="summary-container">    
                        <div class="summary-text">Discount</div>
                        <div class="summary-info-container"><div class="summary-info">P 200.00</div></div>
                    </div>
                    <div class="summary-container">
                        <div class="summary-text">Order Total</div>
                        <div class="summary-info-container"><div class="summary-info">P 200.00</div></div>
                    </div>

                    <hr style="margin-top: 0px; margin-bottom: 10px;">

                    <div class="summary-container">
                        <div class="summary-text">Paid by Customer</div>
                        <div class="summary-info-container"><div class="summary-info">P 200.00</div></div>
                    </div>

                    <hr style="margin-top: 0px; margin-bottom: 10px;">

                    <div class="summary-container">
                        <div class="summary-text">Refunded</div>
                        <div class="summary-info-container"><div class="summary-info">P 200.00</div></div>
                    </div>

                    <div class="summary-container">
                        <div class="summary-text">Total</div>
                        <div class="summary-info-container"><div class="summary-info">P 200.00</div></div>
                    </div>

                    <div style="height: 10px"></div>

                    <div>
                        <div style="display: flex;">
                            <div style="width: 50%"><div class="btn-cancel-invoice"><button class="btn-light-grey" id="btn-save-invoice" style="margin-bottom: 10px;">Cancel</button></div></div>
                            <div class="btn-save-invoice btn-status"><button class="btn-light-blue" id="btn-save-invoice" style="margin-bottom: 10px;" >Save</button></div>
                        </div>
                    </div>

                    <div class="btn-export-invoice"><button class="btn-dark-blue" id="btn-export-invoice">Export</button></div>

                    <div style="height: 20px"></div>
        </div>

        <script>
            $(document).ready(function(){

                $('#dropdown-return-type').change(function() {
                    var val = $('#dropdown-return-type option:selected').text();

                    if (val == "In-Store") {
                        $('#delivery-info').css('display', 'none')
                    }
                    else
                        $('#delivery-info').css('display', 'block')
                })

                //should be for delivery only
                $("#customerName" ).autocomplete({
                    source: function(request, response) {
                    $.ajax({
                                url: `/getCustomerName?query=${request.term}`,
                                dataType: "json",
                                data: {
                                    //request.term refers to the value currently in the text input
                                    term: request.term
                                },
                                success: function (data) {
                                    response(data);
                                }
                         });
                    }, response: function (event, ui) {
                        if (ui.content.length === 0) {

                        }
                        else {

                        }
                    }, select: function(event, ui) {
                        var customerName = ui.item.label;
                        $.get('/getCustomerInformation', {customerName}, function(result) {
                            $('#contactNumber').val(result.number);
                            $('#address').val(result.address)
                        })
                    }
                });


                $("#return-add-item-description").autocomplete({
                    source: function(request, response) {
                    $.ajax({
                                url: `/getItemNameInvoice?query=${request.term}`,
                                dataType: "json",
                                data: {
                                    //request.term refers to the value currently in the text input
                                    term: request.term
                                },
                                success: function (data) {
                                    
                                    response(data);
                                }
                         });
                    }, response: function (event, ui) {
                        if (ui.content.length === 0) {
                            
                        }

                        else {
                            
                        }
                    }
                });
            })
        </script>
    </body>
</html>