<!DOCTYPE html>
<html>
    <head>
        <title> Suppliers </title>
        <meta name="description" content="Supplier List">
        <meta name="keyword" content="Moderna, Supplier List">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/list.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        {{> logoutPartial }}

        {{#if inventoryAndPurchasing}}
            {{> inventoryAndPurchasingPartial }}
        {{/if}}

        {{#if manager}}
            {{> managerPartial }}
        {{/if}}

        <div class="content">
            <div class="fixed-div">
                <h1 class="bold" style="padding-bottom: 15px;"> Suppliers </h1>
                <div> 
                    <div class="search">
                   <!--<form>  indicate action 
                            <input type="text" placeholder="Search" name="search" id="search-field">
                            <button type="submit" id="search-button"><i class="fa fa-search" ></i></button>
                        </form>-->
                        <input type="text" placeholder="Search" name="search" id="search-field">
                        <button type="submit" id="search-button"><i class="fa fa-search" ></i></button>
                    </div>
                    <div class= "div-button-end">
                        <div class="btn-new-supplier"><button id="btn-new-supplier" data-toggle="modal" data-target="#modal-add-supplier">+ New Supplier</button></div>
                    </div>
                    <div style="height: 50px"></div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modal-add-supplier" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">Add Supplier</h3>
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>-->
                    </div>
                    <div class="modal-body">
                        <form id="add-new-supplier">
                            <div class="flex-display" style="align-items: center;">
                                <label for="supplier-name" class="modal-label">Supplier Name</label> 
                                <input id="supplier-name" class="modal-input form-control" type="text"><br>
                            </div>
                            <p class="error modal-error" id="error-new-supplier-name" style="margin-top: 3px; margin-bottom: 3px;"></p>
                            
                            <div class="flex-display"  style="align-items: center;">
                                <label for="contact-person" class="modal-label">Contact Person</label> 
                                <input id="contact-person" class="modal-input form-control" type="text"><br>
                            </div>
                            <p class="error modal-error" id="error-contact-person" style="margin-top: 3px; margin-bottom: 3px;"></p>
                            
                            <div class="flex-display" style="align-items: center;">
                                <label for="contact-number" class="modal-label">Contact Number 1</label> 
                                <input id="contact-number" class="modal-input form-control" type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==11) return false;"><br>   
                            </div>
                            <p class="error modal-error" id="error-contact-number" style="margin-top: 3px; margin-bottom: 3px;"></p>

                            <div class="flex-display" style="align-items: center;">
                                <label for="contact-number2" class="modal-label">Contact Number 2</label> 
                                <input id="contact-number2" class="modal-input form-control" type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==11) return false;"><br>   
                            </div>
                            <p class="error modal-error" id="error-contact-number2" style="margin-top: 3px; margin-bottom: 3px;"></p>
                            
                            <div class="flex-display"  style="align-items: center;">
                                <label for="email" class="modal-label">Email Address</label> 
                                <input id="email" class="modal-input form-control" type="text"><br>
                            </div>
                            <p class="error modal-error" id="error-email" style="margin-top: 3px; margin-bottom: 3px;"></p>
                            
                            <div class="flex-display"  style="align-items: center;">
                                <label for="address" class="modal-label">Address</label> 
                                <input id="address" class="modal-input form-control" type="text"><br>
                            </div>
                            <p class="error modal-error" id="error-address" style="margin-top: 3px; margin-bottom: 3px;"></p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="modal-btn-grey" data-dismiss="modal">Close</button>
                        <button type="button" class="modal-btn-light-blue" id="btn-add-new-supplier">Save</button>
              
                    </div>
                </div>
                </div>

            </div>
                <table class="table" id="table-supplier">
                    <thead class="table-head">
                        <tr>
                            <th>Name</th>
                            <th>Contact Number</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {{#each suppliers}}
                            <tr class="link" style="cursor: pointer" data-href="/supplier/{{supplierID}}">
                                <td>{{name}}</td>
                                <td>{{number}}</td>
                                <td>{{email}}</td>
                            </tr>
                        {{/each}}
                      </tbody>
                </table>
            </div>
        </div>

          
  <script>

            $(document).ready(function() {

             $(".link").click(function() {
                    window.location = $(this).data("href");
                });

                function capitalize(string){
                    var words = string.toLowerCase().split(' ');
                    for (i=0; i<words.length; i++)
                        words[i] = words[i].charAt(0).toUpperCase() + words[i].substring(1);
                    return words.join(' ');
                };

                $('#supplier-name').keyup(function() {
                    var name = capitalize($('#supplier-name').val())
                    $.get('/getCheckSupplierName', {name:name}, function(result) {
                        if (result.name == name) {
                            $('#supplier-name').css("border", "1px solid #B00000");
                            $('#error-new-supplier-name').text("Supplier information already exists");
                            $('#btn-add-new-supplier').prop('disasbled', true);
                            $('#btn-add-new-supplier').css("background-color", "#b3b3b3");
                        }
                        else {
                            $("#supplier-name").css("border", "1px solid #DDDDDD");
                            $('#error-new-supplier-name').text("");
                            $('#btn-add-new-supplier').prop('disasbled', false);
                            $("#btn-add-new-supplier").css("background-color", "#0F84D9");
                        }
                    })
                })


                function errorMessage(type) {
                    if (type == "noName") {
                        $('#supplier-name').css("border", "1px solid #B00000");
                        $('#error-new-supplier-name').text("Please input supplier name");
                    } 
                     else if (type == "noContactPerson") {
                        $('#contact-person').css("border", "1px solid #B00000");
                        $('#error-contact-person').text("Please input contact person");
                    }

                    else if (type == "noNumber") {
                        $('#contact-number').css("border", "1px solid #B00000");
                        $('#error-contact-number').text("Invalid contact number");
                    }

                    else if (type == "noEmail") {
                        $('#email').css("border", "1px solid #B00000");
                        $('#error-email').text("Invalid email");
                    }

                    else if (type == "noAddress") {
                        $('#address').css("border", "1px solid #B00000");
                        $('#error-address').text("Input address");
                    }
                }

                function supplierNameValidation(name) {
                    if (name == null || name == "") {
                        errorMessage("noName")
                        return 1;
                    }
                    else 
                        return 0;
                }   

                function contactPersonValidation(contactPerson) {
                    if (contactPerson == null || contactPerson == "") {
                        errorMessage("noContactPerson")
                        return 1;
                    }
                    else 
                        return 0;
                }   

                function numberValidation(number) {
                    if (number == 0 || number < 0) {
                        errorMessage("noNumber")
                        return 1;
                    }
                    else 
                        return 0;
                }     



                function emailValidation(email) {
                    if (email == null || email == "") {
                        errorMessage("noEmail")
                        return 1;
                    }
                    else 
                        return 0;
                }


                function addressValidation(address) {
                    if (address == null || address == "") {
                        errorMessage("noAddress")
                        return 1;
                    }
                    else 
                        return 0;
                }


                $('#btn-add-new-supplier').click(function() {
                    var name = capitalize($('#supplier-name').val());
                    var contactPerson =capitalize($('#contact-person').val());
                    var number = $('#contact-number').val();  
                    var number2 = $('#contact-number2').val()
                    var email = $('#email').val();
                    var address = capitalize($('#address').val());

                    if (!supplierNameValidation(name) && !contactPersonValidation(contactPerson) && !numberValidation(number) && !emailValidation(email) && !addressValidation(address)) {

                            $('#supplier-name').css("border", "1px solid #DDDDDD");
                            $('#contact-person').css("border", "1px solid #DDDDDD");
                            $('#contact-number').css("border", "1px solid #DDDDDD");
                            $('#email').css("border", "1px solid #DDDDDD");
                            $('#address').css("border", "1px solid #DDDDDD"); 
                           

                            $('#error-new-supplier-name').text(""); 
                            $('#error-contact-person').text("");
                            $('#error-contact-number').text("");
                            $('#error-email').text(""); 
                            $('#error-address').text(""); 
                            
                           

                            $.post('/postSupplierInformation', {name, contactPerson, number, number2,email, address}, function(result) {
                                alert("Supplier has been added")
                                $('#modal-add-supplier').modal('hide');
                                $('#add-new-supplier').trigger('reset');
                                window.location.reload()
                            })
                                

                   }
                })

                /*$('#search-field').keyup(function() {
                     $('#table-supplier tr').show();
                    var searchItem = $(this).val().toLowerCase();
                 
                    $('#table-supplier > tbody > tr').each(function(index) {
                        var supplierName = $(this).children('td:first').text().toLowerCase();
                        if (!supplierName.includes(searchItem))
                            $(this).toggle();
                    })
                })*/

                $('#search-button').click(function() {
                     $('#table-supplier tr').show();
                    var searchItem = $('#search-field').val().toLowerCase();
                 
                    $('#table-supplier > tbody > tr').each(function(index) {
                        var supplierName = $(this).children('td:first').text().toLowerCase();
                        if (!supplierName.includes(searchItem))
                            $(this).toggle();
                    })
                })
            })

        </script>

    </body>
</html>