@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.content {
    font-family: 'Lato', sans-serif;
}

.content h1 {
    color: #2F5D62;
}

.label-container {
    height: 40px; 
    width: 100%;
    margin-bottom: 10px;
}
 
.override-label {
    padding-left: 10px;
    float: left;
    background-color: #F8F5F1; 
    height: 100%; 
    width: 20%;
    display: flex;
    align-items: center;
}

.label-content {
    padding-left: 10px;
    float: left;
    background-color: #f8f5f180; 
    height: 100%; 
    width: 80%;
    display: flex;
    align-items: center;
}

.h3-left {
    width: 80%;
    margin-top: 0px;
}

.h3-right {
    width: 20%; 
    text-align: right; 
    margin-top: 0px;
}

.btn-edit-details {
    display: flex; 
    justify-content: flex-end;
    /*visibility: hidden;*/
}

#btn-edit-details {
    background-color: #0F84D9;
    width: 150px;
    border-radius: 5px;
    color: white;
    border:  #0F84D9;
    height: 30px;
}

.btn-status {
    width: 50%; 
    float: left; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
}

#btn-status {
    background-color: #0F84D9;
    width: 150px;
    border-radius: 5px;
    color: white;
    border:  #0F84D9;
    height: 30px;
}

.btn-export-invoice {
    display: flex; 
    justify-content: flex-end;
    /*visibility: hidden;*/
}

#btn-export-invoice {
    background-color: #0F84D9;
    width: 150px;
    border-radius: 5px;
    color: white;
    border:  #0F84D9;
    height: 30px;
}

.label-big-container {
    height: 200px; 
    width: 100%;
}

.label-wide {
    background-color: #F8F5F1; 
    padding-left: 10px;
    height: 40px; 
    display: flex;
    align-items: center;
}

.label-wide-content {
    height: 160px;
    background-color: #f8f5f180;
    padding: 10px;
}

.notes-pencil {
    width: 50%; 
    float: left; 
    display: flex; 
    justify-content: flex-end; 
    padding-right: 10px;
    /*visibility: hidden;*/
}

/* Summary */
.summary-container {
    height: 30px;  
    display: flex; 
    align-items: center;
    margin-bottom: 10px;
}

.summary-text {
    width: 80%; 
    float: left; 
    text-align: end;
}

.summary-info-container {
    width: 20%; 
    float: left; 
    display: flex; 
    justify-content:flex-end;
}

.summary-info {
    background-color: #C4C4C4; 
    width: 150px; 
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}
